.login {
  background-color: #ede6d6;
  width: 100%;
  min-width: 1440px;
  min-height: 1024px;
  display: flex;
}

.login .frame {
  margin-top: 81px;
  width: 889px;
  height: 862px;
  margin-left: 275px;
  position: relative;
}

.login .frame-wrapper {
  position: absolute;
  top: 334px;
  left: 49px;
  width: 791px;
  height: 453px;
  display: flex;
  background-color: #f7f2eb;
  overflow: hidden;
  border: 1px solid;
  border-color: #8bbb92;
}

.login .div {
  width: 652px;
  height: 476px;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
}

.login .text-wrapper {
  display: flex;
  align-items: center;
  margin-left: 41px;
  width: 54px;
  height: 36px;
  margin-top: 48px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.login .frame-2 {
  margin-left: 37px;
  width: 579px;
  height: 37px;
  margin-top: 41px;
  border-radius: 8px;
  border: 1px solid;
  border-color: #8bbb92;
}

.login .text-wrapper-2 {
  display: flex;
  align-items: center;
  margin-left: 38px;
  width: 113px;
  height: 36px;
  margin-top: 18px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.login .frame-3 {
  margin-left: 40px;
  width: 579px;
  height: 37px;
  margin-top: 18px;
  border-radius: 8px;
  border: 1px solid;
  border-color: #8bbb92;
}

.login .div-wrapper {
  display: flex;
  margin-left: 41px;
  width: 577px;
  height: 74px;
  position: relative;
  margin-top: 69px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 32px;
  background-color: #9c4a2e;
  border-radius: 30px;
  border: 3px solid;
  border-color: #092328;
}

.login .text-wrapper-3 {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #092328;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.login .rectangle {
  position: absolute;
  top: 25px;
  left: 49px;
  width: 791px;
  height: 313px;
}

.login .text-wrapper-4 {
  position: absolute;
  top: 52px;
  left: 87px;
  width: 219px;
  height: 84px;
  display: flex;
  align-items: center;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: 96px;
  white-space: nowrap;
}
